body, html {
    height: 100%;
    margin: 0;
}

.bg {
  background: url('../images/ecommerce.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#container{
  text-align: center;
}

button {
  margin-top: 250px;
  border-radius: 50px;
  background-color: #1C31A3;
  font-size: 30px;
  width: 150px;
}

a {
  color: lightgrey;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 7vw;
  color: #858e9e;
  font-size: 70px;
  font-family: 'Baloo Bhaina', cursive;
}

button:focus {
  outline: 0;
}
