body {
	background-color: #ECE6FF;
	font-family: Verdana;
}

#greetings {
  margin-top: 80px;
  text-align: center;
}

img {
  width: 25vw;
  height: 18vw;
  margin-right: 20px;
}

p {
  text-align: left;
  background-color: white;
  width: 25vw;
  border: 1px solid lightgrey;
  font-size: 15px;
  font-family: 'Harmattan', sans-serif;
}



