body {
	background-color: #C9DAF2;
}

#greetings {
  margin-top: 80px;
  text-align: center;
}

/*.bg-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}*/

img {
  width: 25vw;
  height: 18vw;
  margin-right: 20px;
}

div {
  text-align: center;
}

p {
  background-color: white;
  text-align: left;
  width: 25vw;
  font-size: 20px;
}
