body {
	background-color: #b8b8b8;
	font-family: Verdana;
}

#greetings {
  margin-top: 80px;
  text-align: center;
}

/*.bg-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}*/

img {
  width: 25vw;
  margin-right: 20px;
}

.product {
/*	height: 25vw;
	width: 25vw;*/
	background: white;
	margin: 10px;
/*	border: solid black 2px;
	align-content: center;*/
}

p {
	margin-top: 10px;
}

/*#saleitems {
	background-color: white; 
  	text-align: center;
  	padding: 10px;
}*/

/*p {
  background-color: white;
  text-align: left;
  width: 25vw;
  font-size: 24px;
}
*/